<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body data-spy="scroll" data-target="#site-nav" data-offset="80" data-scroll-animation="true">
    {% include analytics.html %}
    {% include header.html %}

    <div>

      {{ content }}

    </div>


    {% include footer.html %}

    <script src="{{ '/js/jquery-3.5.1.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/selectize.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
